html {
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	height: 57px;
	width: 479px;
	border: none;
	font-family: "Press Start 2P", system-ui;
	font-size: large;
	border-bottom: 8px solid rgb(196, 49, 16);
	clip-path: polygon(12% 0, 88% 0, 82% 100%, 6% 100%);
	transition: transform 0.3s ease;
}
button:hover {
	transform: scale(1.1);
	border-bottom: 10px solid rgb(173, 117, 33);
}
main {
	margin: 0 auto;
	display: flex;
	height: 100%;
	flex-direction: column;
	width: 50%;
	gap: 3rem;
	align-items: center;
	justify-content: center;
}
main img {
	width: 100%;
}
